<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UKMain" connectionString="server=tcp:104.238.95.68;Initial Catalog=UKOmnimarkNew;User ID=ukomnimarknew;password=rzV7w43&amp;;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="UKOmnimarkEntities" connectionString="metadata=res://*/Ukominimark.csdl|res://*/Ukominimark.ssdl|res://*/Ukominimark.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.238.95.68;initial catalog=UKOmnimarkNew;persist security info=True;user id=ukomnimarknew;password=rzV7w43&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

   
  </connectionStrings>
  <appSettings>
 
    <add key="accesskeycategories" value="AKIAJJE7HWBEDEJ7FXLQ,AKIAITUQFOC6SOCWDK3A,AKIAJLST572AHCSG5Y6A,AKIAIJSOTMRUIFEWWVWA,AKIAJUID5RPRONDIP7UA" />
    <add key="secretkeycategories" value="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,2yaTZZIc8SmjPlihxwxDhnDhdM9JBH4IuGB3I/o4,omG903nLGRuY7mSIStB6ZuhuCEa1Nq/zz/MoPfzP,64+INuEJ0JbhjjfOWYmexlgZnOrqialg57u9Mcqi,cSqNppDT3GH4AXkf2rplLacIgFzQClkKKk/ldJGw" />
    <add key="appnamecategories" value="AmazonJavascriptScratchpad,AmazonJavascriptScratchpad,AmazonJavascriptScratchpad,AmazonJavascriptScratchpad,AmazonJavascriptScratchpad" />
    <add key="appVersioncategories" value="1.0,1.0,1.0,1.0,1.0" />
    <add key="serviceurlcategories" value="https://mws.amazonservices.com,https://mws.amazonservices.com,https://mws.amazonservices.com,https://mws.amazonservices.com,https://mws.amazonservices.com" />
    <add key="selleridcategories" value="A20AJLDS6DES81,A3AC8PQ96D2D8O,A5F5V406778C6,A3NUXPXSJWPYA,A2QFTP3KOUKAMI" />
    <add key="mwsauthtokencategories" value="amzn.mws.54a5ad20-5a53-66ca-c870-38f6da526f93,amzn.mws.54a5ad20-5a53-66ca-c870-38f6da526f93,amzn.mws.54a5ad20-5a53-66ca-c870-38f6da526f93,amzn.mws.54a5ad20-5a53-66ca-c870-38f6da526f93,amzn.mws.54a5ad20-5a53-66ca-c870-38f6da526f93" />
    <add key="marketplaceidcategories" value="ATVPDKIKX0DER,ATVPDKIKX0DER,ATVPDKIKX0DER,ATVPDKIKX0DER,ATVPDKIKX0DER" />
    
    <add key="LogFilePath" value="C:\services_Uk\ItemLookup_Allcategories\Log"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>